terraform {
  # Fix the provider version
  required_version = "~> 0.12.6"


  # Add role_arn to use assumed roles to access the bucket
  backend "s3" {
    encrypt        = true
    bucket         = "${account_number}-terraform-state"
    key            = "state-bucket/terraform.tfstate"
    dynamodb_table = "dynamodb-state-lock"
    region         = "${aws_region}"
  }
}
